@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap"); /*** LOGO ***/
.logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.logo .imgLogo {
  width: 300px;
}

/* NAV */
.nav-link {
  color: rgb(255, 0, 149);
  font-size: 25px;
  font-weight: 400px;
}

.nav-link:hover {
  color: rgb(250, 97, 186);
}

/***h1***/
h1 {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 656px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer {
  height: 120px;
  background-color: rgb(255, 192, 229);
  margin-top: 20px;
}
.footer .textoFooterUno {
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.iconos .be {
  margin-right: 1rem;
}

/*** INDEX ***/
.textoUno {
  font-size: 20px;
}

.textoDos {
  font-size: 12px;
}

.dragon {
  width: 100%;
}

.espejo {
  width: 200px;
  margin-right: 20px;
}

.seccion1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion2 {
  display: flex;
  justify-content: space-between;
}

.seeMy {
  text-decoration: none;
  color: rgb(255, 0, 149);
  display: flex;
  justify-content: center;
}

.seeMy:hover {
  color: rgb(255, 192, 229);
}

.dra {
  margin-bottom: 25px;
  margin-top: 25px;
}

.esp {
  margin-right: 25px;
  margin-bottom: 20px;
}

/*VISTA TABLET*/
@media (min-width: 600px) {
  .textoUno {
    font-size: 30px;
  }
  .espejo {
    width: 300px;
  }
  .textoDos {
    font-size: 21px;
  }
}
/*VISTA DESKTOP 1024*/
@media (min-width: 1024px) {
  .dragon {
    width: 600px;
  }
  .seccion1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    align-items: flex-start;
  }
  .textoUno {
    font-size: 35px;
  }
  .espejo {
    width: 400px;
  }
  .textoDos {
    font-size: 35px;
  }
}
/*VISTA DESKTOP 1200*/
@media (min-width: 1200px) {
  .dragon {
    width: 800px;
  }
  .seccion1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    align-items: flex-start;
  }
  .textoUno {
    font-size: 47px;
  }
  .espejo {
    width: 500px;
  }
  .textoDos {
    font-size: 38px;
  }
}
/****SHOP****/
.imgShop {
  width: 320px;
  border-radius: 7px;
}

.textoShop {
  text-align: center;
  padding-top: 0;
}

/*** INSPIRATION ***/
.bodyInspiration {
  background-image: url(../inspiration/fondo-2.jpg);
  background-repeat: no repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bodyInspiration .inspiration {
  background-color: white;
}

/* LATEST PROJECTS*/
/*mobile*/
@media (min-width: 350px) {
  .imgProjects {
    width: 300px;
  }
}
/*tablet-escritorio*/
@media (min-width: 600px) {
  .imgProjects {
    width: 500px;
  }
}
.btn {
  color: white;
  background-color: rgb(255, 0, 149);
  border-color: rgb(255, 0, 149);
}

.btn:hover {
  background-color: rgb(255, 192, 229);
  border-color: rgb(16, 90, 48);
}

.btn:active {
  background-color: rgb(16, 90, 48);
}

form {
  padding-left: 10px;
  padding-right: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Kanit", sans-serif;
}

/*# sourceMappingURL=estilo.css.map */
