@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');


* {
    margin: 0;
    padding: 0;
} 


body {
    background-color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
}
/*** LOGO ***/

.logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px; 
}

/*** MENU ***/

.menu {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}


a {
    text-decoration: none;
    color: rgb(255, 0, 149);
    font-size: 22px;
    font-weight: 400px;
    
}

li {
    display: inline;
}

/*** INDEX ***/

.textoIndex {
    background-color: rgb(250, 192, 237);
    margin-top: 50px;
}

.imagenIndex {
    background-color: rgb(250, 192, 237);
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 500px;
}

/**Footer**/

.footer {
    height: 100px;
    background-color: rgb(255, 192, 229);
    margin-top: 20px;
}

.textoFooterUno {
    text-align: center;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

/****SHOP****/

img {
    width: 300px;
    
}

/***.shop {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-around;

} ****/

.imgShop {
    border-radius: 7px;
}

.textoShop {
    text-align: center;
}

/*** INSPIRATION ***/

.bodyInspiration { 
    background-image: url(/inspiration/fondo\ 2.jpg);
    background-repeat: no repeat;
}

.inspiration {
    background-color: white;
}


/***CONTACT***/

.contact {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

