.footer {
    height: 120px;
    background-color: $color-principal;
    margin-top: 20px;
  
  
      .textoFooterUno {
          text-align: center;
          color: black;
          font-family: Arial, Helvetica, sans-serif;
          padding-top: 10px;
          }
  
      }

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: center; 

    .be {
        margin-right: 1rem;
    }
}

