.footer {
    height: 100px;
    background-color: $color-principal;
    margin-top: 20px;
  
  
      .textoFooterUno {
          text-align: center;
          color: black;
          font-family: Arial, Helvetica, sans-serif;
          padding-top: 10px;
          }
  
      }