/*** INDEX ***/


.textoUno {
    font-size: 20px;

  }

.textoDos {
    font-size: 12px;
  }

.dragon {
  width: 100%;
}

.espejo {
  width: 200px;
  margin-right: 20px;
}


.seccion1 {
  display: flex;
  flex-direction:column;
  align-items: center;
  
}

.seccion2 {
  display: flex;
  justify-content: space-between;

}

.seeMy {
  text-decoration: none;
  color: rgb(255, 0, 149);
  display: flex;
  justify-content: center;
}

.seeMy:hover {
  color: $color-principal;
}

.dra {
 margin-bottom: 25px;
 margin-top: 25px;
}

.esp {
  margin-right: 25px;
  margin-bottom: 20px;
}

/*VISTA TABLET*/

@media (min-width:600px) {

  .textoUno {
    font-size: 30px;

  }

  .espejo {
    width: 300px;
  }

  .textoDos {
    font-size: 21px;
  }
  
}

/*VISTA DESKTOP 1024*/

@media (min-width:1024px) {
  .dragon {
    width: 600px;
  }

  .seccion1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    align-items: flex-start;
  }

  .textoUno {
    font-size: 35px;

  }

  .espejo {
    width: 400px;
  }

  .textoDos {
    font-size: 35px;
  }
}

/*VISTA DESKTOP 1200*/

@media (min-width:1200px) {

  .dragon {
    width: 800px;
  }

  .seccion1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    align-items: flex-start;
  }

  .textoUno {
    font-size: 47px;

  }

  .espejo {
    width: 500px;
  }

  .textoDos {
    font-size: 38px;
  }


}
  


