/*** INSPIRATION ***/

.bodyInspiration {
  background-image: url(../inspiration/fondo-2.jpg);
  background-repeat: no repeat;
  background-size: cover;
  background-attachment: fixed;


    .inspiration {
        background-color: white;
    }
}